<%- include('partials/indexheader') -%>
<div class="center-page">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">StudyBoard</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Already doing pomodoros? Why not record your progress here to see how you stack up against others?</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/login" class="btn btn-primary btn-lg px-4 gap-3"> Login</a>
            <a href="/signup" class="btn btn-outline-secondary btn-lg px-4"> Signup</a>
          </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <tr>
              <th>#</th>  
              <th>Name</th>
              <th>Hour(s)</th>
              <th>Minute(s)</th>
              <th>Second(s)</th>
            </tr>
            <% for(var i=0; i<stat.length; i++) {%>
                <tr>
                    <th scope="row"><%=i + 1%></th>
                    <th><%=stat[i].userName%></th>
                    <th><%=Math.floor((stat[i].time / 3600) * 10) / 10%></th>
                    <th><%=Math.floor((stat[i].time / 60) * 10) / 10%></th>
                    <th><%=Math.floor(stat[i].time * 10) / 10%></th>
                </tr>
            <% } %>
          </table>
    </div>

    <footer>Contribute to our <a href="https://github.com/kyle-christian/100devsleaderboard">github</a></footer>
</div>



<%- include('partials/footer') -%>