<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">

      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      </div>
      
      <form
      class="col-1"
      action="/stat/createStat"
      method="POST"
      >
        <button type="submit">create stat</button>
      </form>

      <form
      class="col-1"
      action="/stat/updateStat?_method=PUT"
      method="POST"
      >
        <button type="submit">stop</button>
      </form>

      <button class="start">start</button>
      <button class="stop">stop</button>

      <span><%=stat.time%></span>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>